In [72]:
import findspark
findspark.init()

In [73]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("MyApp") \
    .master("local[*]") \
    .getOrCreate()

25/06/14 17:41:56 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

# create dataFrame

In [74]:
import datetime
from pyspark.sql import Row

users = [{'id':1,
        'first_name':'kiran',
        'last_name':'chinta',
         'email':'k.c@gmail.com',
         'phone_numbers':Row(mobile=123,home=456),
         'courses':[1,2],
         'is_customer':True,
         'amount_paid':100.55,
         'customer_from':datetime.date(2012,1,1),
        'last_updated_ts':datetime.datetime(2021,2,2,1,2,3)
        },
        {'id':2,
        'first_name':'goats',
        'last_name':'manchi',
         'email':'g.m@gmail.com',
         'phone_numbers':Row(mobile=246,home=680),
         'courses':[11,2],
         'is_customer':False,
         'amount_paid':110.55,
         'customer_from':datetime.date(2012,1,1),
        'last_updated_ts':datetime.datetime(2021,2,2,1,2,3)
        },
        {'id':3,
        'first_name':'ss',
        'last_name':'raj',
         'email':'s.s.r@gmail.com',
         'phone_numbers':Row(mobile=135,home=579),
         'courses':[11,22],
         'is_customer':False,
         'amount_paid':None,
         'customer_from':datetime.date(2012,2,2),
        'last_updated_ts':datetime.datetime(2021,4,5,1,2,3)
        },
        {'id':None,
        'first_name':'puri',
        'last_name':'jag',
         'email':'p.j@gmail.com',
         'phone_numbers':Row(mobile=135,home=579),
         'courses':[11,22],
         'is_customer':False,
         'amount_paid':None,
         'customer_from':datetime.date(2012,2,2),
        'last_updated_ts':datetime.datetime(2021,4,5,1,2,3)
        },
        {'id':5,
        'first_name':None,
        'last_name':None,
         'email':None,
         'phone_numbers':Row(mobile=135,home=579),
         'courses':[11,22],
         'is_customer':False,
         'amount_paid':None,
         'customer_from':datetime.date(2012,2,2),
        'last_updated_ts':datetime.datetime(2021,4,5,1,2,3)
        }]

In [75]:
import pandas as pd
u_df = spark.createDataFrame(pd.DataFrame(users))
u_df.show()

+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|          email|phone_numbers| courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+
|1.0|     kiran|   chinta|  k.c@gmail.com|   {123, 456}|  [1, 2]|       true|     100.55|   2012-01-01|2021-02-02 01:02:03|
|2.0|     goats|   manchi|  g.m@gmail.com|   {246, 680}| [11, 2]|      false|     110.55|   2012-01-01|2021-02-02 01:02:03|
|3.0|        ss|      raj|s.s.r@gmail.com|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
|NaN|      puri|      jag|  p.j@gmail.com|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
|5.0|      NULL|     NULL|           NULL|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+

# overview of filter/where

In [47]:
u_df.filter("last_name == 'chinta'").show()

+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|        email|phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
|1.0|     kiran|   chinta|k.c@gmail.com|   {123, 456}| [1, 2]|       true|     100.55|   2012-01-01|2021-02-02 01:02:03|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+

In [48]:
u_df.where("last_name == 'chinta'").show()

+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|        email|phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
|1.0|     kiran|   chinta|k.c@gmail.com|   {123, 456}| [1, 2]|       true|     100.55|   2012-01-01|2021-02-02 01:02:03|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+

In [76]:
from pyspark.sql.functions import col

u_df.where(col("last_name") == 'chinta').show()

+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|        email|phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
|1.0|     kiran|   chinta|k.c@gmail.com|   {123, 456}| [1, 2]|       true|     100.55|   2012-01-01|2021-02-02 01:02:03|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+

In [50]:
u_df.filter(col("last_name") == 'chinta').show()

+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|        email|phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
|1.0|     kiran|   chinta|k.c@gmail.com|   {123, 456}| [1, 2]|       true|     100.55|   2012-01-01|2021-02-02 01:02:03|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+

# Overview of Operators

- <b> Operators
    - Equals - <i style="color:blue"> ==
    - Not Equals - <i style="color:blue"> !=
    - Greater than - <i style="color:blue"> >
    - Less than - <i style="color:blue"> <
    - Greater than or Equals to - <i style="color:blue"> >=
    - Less than or Equals to - <i style="color:blue"> <=
    - In Operatos - <i style="color:blue"> isin </i> function or <i style="color:blue"> IN
    - Between Operator - <i style="color:blue"> between </i> function or <i style="color:blue"> between </i> with <i style="color:blue"> and
    - contains Operator - <i style="color:blue"> contains </i> function

# Equals operators

In [51]:
# int dataype
u_df.filter(col("id") == 1).show()

+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|        email|phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
|1.0|     kiran|   chinta|k.c@gmail.com|   {123, 456}| [1, 2]|       true|     100.55|   2012-01-01|2021-02-02 01:02:03|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+

In [52]:
# string datatype
u_df.filter(col("last_name") == 'chinta').show()

+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|        email|phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
|1.0|     kiran|   chinta|k.c@gmail.com|   {123, 456}| [1, 2]|       true|     100.55|   2012-01-01|2021-02-02 01:02:03|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+

In [53]:
#Boolean datatype
u_df.filter(col("is_customer") == True).show()

+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|        email|phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
|1.0|     kiran|   chinta|k.c@gmail.com|   {123, 456}| [1, 2]|       true|     100.55|   2012-01-01|2021-02-02 01:02:03|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+

In [54]:
# struct datatype
u_df.filter(col("phone_numbers.mobile") == 246).show()

+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|        email|phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
|2.0|     goats|   manchi|g.m@gmail.com|   {246, 680}|[11, 2]|      false|     110.55|   2012-01-01|2021-02-02 01:02:03|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+

# NotEquals operator

In [55]:
# int dataype
u_df.filter(col("id") != 1).show()

+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|          email|phone_numbers| courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+
|2.0|     goats|   manchi|  g.m@gmail.com|   {246, 680}| [11, 2]|      false|     110.55|   2012-01-01|2021-02-02 01:02:03|
|3.0|        ss|      raj|s.s.r@gmail.com|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
|NaN|      puri|      jag|  p.j@gmail.com|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
|5.0|      NULL|     NULL|           NULL|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+

In [56]:
# string datatype
u_df.filter(col("last_name") != 'chinta').show()

+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|          email|phone_numbers| courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+
|2.0|     goats|   manchi|  g.m@gmail.com|   {246, 680}| [11, 2]|      false|     110.55|   2012-01-01|2021-02-02 01:02:03|
|3.0|        ss|      raj|s.s.r@gmail.com|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
|NaN|      puri|      jag|  p.j@gmail.com|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+

In [57]:
#Boolean datatype
u_df.filter(col("is_customer") != True).show()

+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|          email|phone_numbers| courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+
|2.0|     goats|   manchi|  g.m@gmail.com|   {246, 680}| [11, 2]|      false|     110.55|   2012-01-01|2021-02-02 01:02:03|
|3.0|        ss|      raj|s.s.r@gmail.com|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
|NaN|      puri|      jag|  p.j@gmail.com|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
|5.0|      NULL|     NULL|           NULL|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+

In [58]:
# struct datatype
u_df.filter(col("phone_numbers.mobile") != 246).show()

+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|          email|phone_numbers| courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+
|1.0|     kiran|   chinta|  k.c@gmail.com|   {123, 456}|  [1, 2]|       true|     100.55|   2012-01-01|2021-02-02 01:02:03|
|3.0|        ss|      raj|s.s.r@gmail.com|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
|NaN|      puri|      jag|  p.j@gmail.com|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
|5.0|      NULL|     NULL|           NULL|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+

# Greater than and Greater than or Equals to

In [59]:
u_df.filter(col("amount_paid") > 100.55).show()

+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|          email|phone_numbers| courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+
|2.0|     goats|   manchi|  g.m@gmail.com|   {246, 680}| [11, 2]|      false|     110.55|   2012-01-01|2021-02-02 01:02:03|
|3.0|        ss|      raj|s.s.r@gmail.com|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
|NaN|      puri|      jag|  p.j@gmail.com|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
|5.0|      NULL|     NULL|           NULL|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+

In [60]:
u_df.filter(col("amount_paid") >= 100.55).show()

+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|          email|phone_numbers| courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+
|1.0|     kiran|   chinta|  k.c@gmail.com|   {123, 456}|  [1, 2]|       true|     100.55|   2012-01-01|2021-02-02 01:02:03|
|2.0|     goats|   manchi|  g.m@gmail.com|   {246, 680}| [11, 2]|      false|     110.55|   2012-01-01|2021-02-02 01:02:03|
|3.0|        ss|      raj|s.s.r@gmail.com|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
|NaN|      puri|      jag|  p.j@gmail.com|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
|5.0|      NULL|     NULL|           NULL|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+

# less than and less than or equals to

In [61]:
u_df.filter(col("amount_paid") < 110.55).show()

+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|        email|phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
|1.0|     kiran|   chinta|k.c@gmail.com|   {123, 456}| [1, 2]|       true|     100.55|   2012-01-01|2021-02-02 01:02:03|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+

In [62]:
u_df.filter(col("amount_paid") <= 110.55).show()

+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|        email|phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
|1.0|     kiran|   chinta|k.c@gmail.com|   {123, 456}| [1, 2]|       true|     100.55|   2012-01-01|2021-02-02 01:02:03|
|2.0|     goats|   manchi|g.m@gmail.com|   {246, 680}|[11, 2]|      false|     110.55|   2012-01-01|2021-02-02 01:02:03|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+

# Between Operator

In [63]:
u_df.filter(col("customer_from").between('2012-02-01','2012-02-18')).show()

+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|          email|phone_numbers| courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+
|3.0|        ss|      raj|s.s.r@gmail.com|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
|NaN|      puri|      jag|  p.j@gmail.com|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
|5.0|      NULL|     NULL|           NULL|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+

In [64]:
u_df.filter(col("id").between(1,2)).show()

+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|        email|phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
|1.0|     kiran|   chinta|k.c@gmail.com|   {123, 456}| [1, 2]|       true|     100.55|   2012-01-01|2021-02-02 01:02:03|
|2.0|     goats|   manchi|g.m@gmail.com|   {246, 680}|[11, 2]|      false|     110.55|   2012-01-01|2021-02-02 01:02:03|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+

In [65]:
u_df.filter("id BETWEEN 1 and 2").show()

+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|        email|phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
|1.0|     kiran|   chinta|k.c@gmail.com|   {123, 456}| [1, 2]|       true|     100.55|   2012-01-01|2021-02-02 01:02:03|
|2.0|     goats|   manchi|g.m@gmail.com|   {246, 680}|[11, 2]|      false|     110.55|   2012-01-01|2021-02-02 01:02:03|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+

# IN operator

In [66]:
u_df.filter(col('last_name').isin('chinta','manchi')).show()

+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|        email|phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
|1.0|     kiran|   chinta|k.c@gmail.com|   {123, 456}| [1, 2]|       true|     100.55|   2012-01-01|2021-02-02 01:02:03|
|2.0|     goats|   manchi|g.m@gmail.com|   {246, 680}|[11, 2]|      false|     110.55|   2012-01-01|2021-02-02 01:02:03|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+

In [67]:
u_df.filter("last_name IN ('chinta','manchi')").show()

+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|        email|phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
|1.0|     kiran|   chinta|k.c@gmail.com|   {123, 456}| [1, 2]|       true|     100.55|   2012-01-01|2021-02-02 01:02:03|
|2.0|     goats|   manchi|g.m@gmail.com|   {246, 680}|[11, 2]|      false|     110.55|   2012-01-01|2021-02-02 01:02:03|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+

# contains operator

In [68]:
u_df.filter(col('last_name').contains('i')).show()

+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|        email|phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
|1.0|     kiran|   chinta|k.c@gmail.com|   {123, 456}| [1, 2]|       true|     100.55|   2012-01-01|2021-02-02 01:02:03|
|2.0|     goats|   manchi|g.m@gmail.com|   {246, 680}|[11, 2]|      false|     110.55|   2012-01-01|2021-02-02 01:02:03|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+

# multiple filter condidtions

In [69]:
u_df.filter((col('last_name')=='chinta') & (col('id')==1)).show()

+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|        email|phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
|1.0|     kiran|   chinta|k.c@gmail.com|   {123, 456}| [1, 2]|       true|     100.55|   2012-01-01|2021-02-02 01:02:03|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+

In [70]:
u_df.filter((col('last_name')=='chinta') | (col('id')==2)).show()

+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|        email|phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+
|1.0|     kiran|   chinta|k.c@gmail.com|   {123, 456}| [1, 2]|       true|     100.55|   2012-01-01|2021-02-02 01:02:03|
|2.0|     goats|   manchi|g.m@gmail.com|   {246, 680}|[11, 2]|      false|     110.55|   2012-01-01|2021-02-02 01:02:03|
+---+----------+---------+-------------+-------------+-------+-----------+-----------+-------------+-------------------+

# Filtering Null records

- Nan : related to float/int (not a number)
- none : null object

In [79]:
u_df.filter(col('id').isNull()).show()

+---+----------+---------+-----+-------------+-------+-----------+-----------+-------------+---------------+
| id|first_name|last_name|email|phone_numbers|courses|is_customer|amount_paid|customer_from|last_updated_ts|
+---+----------+---------+-----+-------------+-------+-----------+-----------+-------------+---------------+
+---+----------+---------+-----+-------------+-------+-----------+-----------+-------------+---------------+

In [92]:
# show only Null values from a column
u_df.filter(col('first_name').isNull()).show()

+---+----------+---------+-----+-------------+--------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|email|phone_numbers| courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+-----+-------------+--------+-----------+-----------+-------------+-------------------+
|5.0|      NULL|     NULL| NULL|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
+---+----------+---------+-----+-------------+--------+-----------+-----------+-------------+-------------------+

In [93]:
# show only nan values from a column
from pyspark.sql.functions import isnan
u_df.filter(isnan(col('id'))).show()

+---+----------+---------+-------------+-------------+--------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|        email|phone_numbers| courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+-------------+-------------+--------+-----------+-----------+-------------+-------------------+
|NaN|      puri|      jag|p.j@gmail.com|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
+---+----------+---------+-------------+-------------+--------+-----------+-----------+-------------+-------------------+

In [94]:
# show not null values from a columns
u_df.filter(col('first_name').isNotNull()).show()

+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|          email|phone_numbers| courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+
|1.0|     kiran|   chinta|  k.c@gmail.com|   {123, 456}|  [1, 2]|       true|     100.55|   2012-01-01|2021-02-02 01:02:03|
|2.0|     goats|   manchi|  g.m@gmail.com|   {246, 680}| [11, 2]|      false|     110.55|   2012-01-01|2021-02-02 01:02:03|
|3.0|        ss|      raj|s.s.r@gmail.com|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
|NaN|      puri|      jag|  p.j@gmail.com|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+

In [95]:
# show not nan values from a columns
from pyspark.sql.functions import isnan
u_df.filter(~isnan(col('id'))).show()

+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|          email|phone_numbers| courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+
|1.0|     kiran|   chinta|  k.c@gmail.com|   {123, 456}|  [1, 2]|       true|     100.55|   2012-01-01|2021-02-02 01:02:03|
|2.0|     goats|   manchi|  g.m@gmail.com|   {246, 680}| [11, 2]|      false|     110.55|   2012-01-01|2021-02-02 01:02:03|
|3.0|        ss|      raj|s.s.r@gmail.com|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
|5.0|      NULL|     NULL|           NULL|   {135, 579}|[11, 22]|      false|        NaN|   2012-02-02|2021-04-05 01:02:03|
+---+----------+---------+---------------+-------------+--------+-----------+-----------+-------------+-------------------+

# stop spark

In [96]:
spark.stop()