In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("MyApp") \
    .master("local[*]") \
    .getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/06/14 18:15:24 WARN Utils: Your hostname, kirans-mac.local, resolves to a loopback address: 127.0.0.1; using 172.18.197.149 instead (on interface en0)
25/06/14 18:15:24 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/06/14 18:15:25 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/06/14 18:15:25 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

# create dataframe

In [3]:
import datetime
from pyspark.sql import Row

users = [{'id':1,
        'first_name':'kiran',
        'last_name':'chinta',
         'email':'k.c@gmail.com',
         'phone_numbers':Row(mobile=123,home=456),
         'courses':[1,2],
         'is_customer':True,
         'amount_paid':100.55,
         'customer_from':datetime.date(2012,1,1),
        'last_updated_ts':datetime.datetime(2021,2,2,1,2,3)
        },
        {'id':2,
        'first_name':'goats',
        'last_name':'manchi',
         'email':'g.m@gmail.com',
         'phone_numbers':Row(mobile=246,home=680),
         'courses':[11,2],
         'is_customer':False,
         'amount_paid':110.55,
         'customer_from':datetime.date(2012,1,1),
        'last_updated_ts':datetime.datetime(2021,2,2,1,2,3)
        },
        {'id':3,
        'first_name':'ss',
        'last_name':'raj',
         'email':'s.s.r@gmail.com',
         'phone_numbers':Row(mobile=135,home=579),
         'courses':[11,22],
         'is_customer':False,
         'amount_paid':None,
         'customer_from':datetime.date(2012,2,2),
        'last_updated_ts':datetime.datetime(2021,4,5,1,2,3)
        },
        {'id':None,
        'first_name':'puri',
        'last_name':'jag',
         'email':'p.j@gmail.com',
         'phone_numbers':Row(mobile=135,home=579),
         'courses':[11,22],
         'is_customer':False,
         'amount_paid':None,
         'customer_from':datetime.date(2012,2,2),
        'last_updated_ts':datetime.datetime(2021,4,5,1,2,3)
        },
        {'id':5,
        'first_name':None,
        'last_name':None,
         'email':None,
         'phone_numbers':Row(mobile=135,home=579),
         'courses':[11,22],
         'is_customer':False,
         'amount_paid':None,
         'customer_from':datetime.date(2012,2,2),
        'last_updated_ts':datetime.datetime(2021,4,5,1,2,3)
        }]

In [4]:
u_df = spark.createDataFrame(users)
u_df.show()

+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+
|amount_paid| courses|customer_from|          email|first_name|  id|is_customer|last_name|    last_updated_ts|phone_numbers|
+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+
|     100.55|  [1, 2]|   2012-01-01|  k.c@gmail.com|     kiran|   1|       true|   chinta|2021-02-02 01:02:03|   {123, 456}|
|     110.55| [11, 2]|   2012-01-01|  g.m@gmail.com|     goats|   2|      false|   manchi|2021-02-02 01:02:03|   {246, 680}|
|       NULL|[11, 22]|   2012-02-02|s.s.r@gmail.com|        ss|   3|      false|      raj|2021-04-05 01:02:03|   {135, 579}|
|       NULL|[11, 22]|   2012-02-02|  p.j@gmail.com|      puri|NULL|      false|      jag|2021-04-05 01:02:03|   {135, 579}|
|       NULL|[11, 22]|   2012-02-02|           NULL|      NULL|   5|      false|     NULL|2021-04-05 01:02:03|   {135, 579}|
+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+

# overview sort/orderby

In [5]:
u_df.sort('first_name').show()

+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+
|amount_paid| courses|customer_from|          email|first_name|  id|is_customer|last_name|    last_updated_ts|phone_numbers|
+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+
|       NULL|[11, 22]|   2012-02-02|           NULL|      NULL|   5|      false|     NULL|2021-04-05 01:02:03|   {135, 579}|
|     110.55| [11, 2]|   2012-01-01|  g.m@gmail.com|     goats|   2|      false|   manchi|2021-02-02 01:02:03|   {246, 680}|
|     100.55|  [1, 2]|   2012-01-01|  k.c@gmail.com|     kiran|   1|       true|   chinta|2021-02-02 01:02:03|   {123, 456}|
|       NULL|[11, 22]|   2012-02-02|  p.j@gmail.com|      puri|NULL|      false|      jag|2021-04-05 01:02:03|   {135, 579}|
|       NULL|[11, 22]|   2012-02-02|s.s.r@gmail.com|        ss|   3|      false|      raj|2021-04-05 01:02:03|   {135, 579}|
+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+

In [6]:
u_df.orderBy('first_name').show()

+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+
|amount_paid| courses|customer_from|          email|first_name|  id|is_customer|last_name|    last_updated_ts|phone_numbers|
+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+
|       NULL|[11, 22]|   2012-02-02|           NULL|      NULL|   5|      false|     NULL|2021-04-05 01:02:03|   {135, 579}|
|     110.55| [11, 2]|   2012-01-01|  g.m@gmail.com|     goats|   2|      false|   manchi|2021-02-02 01:02:03|   {246, 680}|
|     100.55|  [1, 2]|   2012-01-01|  k.c@gmail.com|     kiran|   1|       true|   chinta|2021-02-02 01:02:03|   {123, 456}|
|       NULL|[11, 22]|   2012-02-02|  p.j@gmail.com|      puri|NULL|      false|      jag|2021-04-05 01:02:03|   {135, 579}|
|       NULL|[11, 22]|   2012-02-02|s.s.r@gmail.com|        ss|   3|      false|      raj|2021-04-05 01:02:03|   {135, 579}|
+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+

In [7]:
from pyspark.sql.functions import col
u_df.sort(col('first_name')).show()

+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+
|amount_paid| courses|customer_from|          email|first_name|  id|is_customer|last_name|    last_updated_ts|phone_numbers|
+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+
|       NULL|[11, 22]|   2012-02-02|           NULL|      NULL|   5|      false|     NULL|2021-04-05 01:02:03|   {135, 579}|
|     110.55| [11, 2]|   2012-01-01|  g.m@gmail.com|     goats|   2|      false|   manchi|2021-02-02 01:02:03|   {246, 680}|
|     100.55|  [1, 2]|   2012-01-01|  k.c@gmail.com|     kiran|   1|       true|   chinta|2021-02-02 01:02:03|   {123, 456}|
|       NULL|[11, 22]|   2012-02-02|  p.j@gmail.com|      puri|NULL|      false|      jag|2021-04-05 01:02:03|   {135, 579}|
|       NULL|[11, 22]|   2012-02-02|s.s.r@gmail.com|        ss|   3|      false|      raj|2021-04-05 01:02:03|   {135, 579}|
+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+

# Descending order

In [8]:
u_df.orderBy('first_name',ascending=False).show()

+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+
|amount_paid| courses|customer_from|          email|first_name|  id|is_customer|last_name|    last_updated_ts|phone_numbers|
+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+
|       NULL|[11, 22]|   2012-02-02|s.s.r@gmail.com|        ss|   3|      false|      raj|2021-04-05 01:02:03|   {135, 579}|
|       NULL|[11, 22]|   2012-02-02|  p.j@gmail.com|      puri|NULL|      false|      jag|2021-04-05 01:02:03|   {135, 579}|
|     100.55|  [1, 2]|   2012-01-01|  k.c@gmail.com|     kiran|   1|       true|   chinta|2021-02-02 01:02:03|   {123, 456}|
|     110.55| [11, 2]|   2012-01-01|  g.m@gmail.com|     goats|   2|      false|   manchi|2021-02-02 01:02:03|   {246, 680}|
|       NULL|[11, 22]|   2012-02-02|           NULL|      NULL|   5|      false|     NULL|2021-04-05 01:02:03|   {135, 579}|
+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+

In [9]:
u_df.orderBy(col('first_name').desc()).show()

+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+
|amount_paid| courses|customer_from|          email|first_name|  id|is_customer|last_name|    last_updated_ts|phone_numbers|
+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+
|       NULL|[11, 22]|   2012-02-02|s.s.r@gmail.com|        ss|   3|      false|      raj|2021-04-05 01:02:03|   {135, 579}|
|       NULL|[11, 22]|   2012-02-02|  p.j@gmail.com|      puri|NULL|      false|      jag|2021-04-05 01:02:03|   {135, 579}|
|     100.55|  [1, 2]|   2012-01-01|  k.c@gmail.com|     kiran|   1|       true|   chinta|2021-02-02 01:02:03|   {123, 456}|
|     110.55| [11, 2]|   2012-01-01|  g.m@gmail.com|     goats|   2|      false|   manchi|2021-02-02 01:02:03|   {246, 680}|
|       NULL|[11, 22]|   2012-02-02|           NULL|      NULL|   5|      false|     NULL|2021-04-05 01:02:03|   {135, 579}|
+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+

# Dealing with Null

In [10]:
u_df.orderBy(col('first_name').asc_nulls_first()).show()

+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+
|amount_paid| courses|customer_from|          email|first_name|  id|is_customer|last_name|    last_updated_ts|phone_numbers|
+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+
|       NULL|[11, 22]|   2012-02-02|           NULL|      NULL|   5|      false|     NULL|2021-04-05 01:02:03|   {135, 579}|
|     110.55| [11, 2]|   2012-01-01|  g.m@gmail.com|     goats|   2|      false|   manchi|2021-02-02 01:02:03|   {246, 680}|
|     100.55|  [1, 2]|   2012-01-01|  k.c@gmail.com|     kiran|   1|       true|   chinta|2021-02-02 01:02:03|   {123, 456}|
|       NULL|[11, 22]|   2012-02-02|  p.j@gmail.com|      puri|NULL|      false|      jag|2021-04-05 01:02:03|   {135, 579}|
|       NULL|[11, 22]|   2012-02-02|s.s.r@gmail.com|        ss|   3|      false|      raj|2021-04-05 01:02:03|   {135, 579}|
+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+

In [11]:
u_df.orderBy(col('first_name').asc_nulls_last()).show()

+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+
|amount_paid| courses|customer_from|          email|first_name|  id|is_customer|last_name|    last_updated_ts|phone_numbers|
+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+
|     110.55| [11, 2]|   2012-01-01|  g.m@gmail.com|     goats|   2|      false|   manchi|2021-02-02 01:02:03|   {246, 680}|
|     100.55|  [1, 2]|   2012-01-01|  k.c@gmail.com|     kiran|   1|       true|   chinta|2021-02-02 01:02:03|   {123, 456}|
|       NULL|[11, 22]|   2012-02-02|  p.j@gmail.com|      puri|NULL|      false|      jag|2021-04-05 01:02:03|   {135, 579}|
|       NULL|[11, 22]|   2012-02-02|s.s.r@gmail.com|        ss|   3|      false|      raj|2021-04-05 01:02:03|   {135, 579}|
|       NULL|[11, 22]|   2012-02-02|           NULL|      NULL|   5|      false|     NULL|2021-04-05 01:02:03|   {135, 579}|
+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+

In [12]:
u_df.orderBy(col('first_name').desc_nulls_first()).show()

+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+
|amount_paid| courses|customer_from|          email|first_name|  id|is_customer|last_name|    last_updated_ts|phone_numbers|
+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+
|       NULL|[11, 22]|   2012-02-02|           NULL|      NULL|   5|      false|     NULL|2021-04-05 01:02:03|   {135, 579}|
|       NULL|[11, 22]|   2012-02-02|s.s.r@gmail.com|        ss|   3|      false|      raj|2021-04-05 01:02:03|   {135, 579}|
|       NULL|[11, 22]|   2012-02-02|  p.j@gmail.com|      puri|NULL|      false|      jag|2021-04-05 01:02:03|   {135, 579}|
|     100.55|  [1, 2]|   2012-01-01|  k.c@gmail.com|     kiran|   1|       true|   chinta|2021-02-02 01:02:03|   {123, 456}|
|     110.55| [11, 2]|   2012-01-01|  g.m@gmail.com|     goats|   2|      false|   manchi|2021-02-02 01:02:03|   {246, 680}|
+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+

In [13]:
u_df.orderBy(col('first_name').desc_nulls_last()).show()

+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+
|amount_paid| courses|customer_from|          email|first_name|  id|is_customer|last_name|    last_updated_ts|phone_numbers|
+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+
|       NULL|[11, 22]|   2012-02-02|s.s.r@gmail.com|        ss|   3|      false|      raj|2021-04-05 01:02:03|   {135, 579}|
|       NULL|[11, 22]|   2012-02-02|  p.j@gmail.com|      puri|NULL|      false|      jag|2021-04-05 01:02:03|   {135, 579}|
|     100.55|  [1, 2]|   2012-01-01|  k.c@gmail.com|     kiran|   1|       true|   chinta|2021-02-02 01:02:03|   {123, 456}|
|     110.55| [11, 2]|   2012-01-01|  g.m@gmail.com|     goats|   2|      false|   manchi|2021-02-02 01:02:03|   {246, 680}|
|       NULL|[11, 22]|   2012-02-02|           NULL|      NULL|   5|      false|     NULL|2021-04-05 01:02:03|   {135, 579}|
+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+

# composite sorting

In [14]:
# ascending - ascending
u_df.orderBy(col('first_name'),col('last_name')).show()

+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+
|amount_paid| courses|customer_from|          email|first_name|  id|is_customer|last_name|    last_updated_ts|phone_numbers|
+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+
|       NULL|[11, 22]|   2012-02-02|           NULL|      NULL|   5|      false|     NULL|2021-04-05 01:02:03|   {135, 579}|
|     110.55| [11, 2]|   2012-01-01|  g.m@gmail.com|     goats|   2|      false|   manchi|2021-02-02 01:02:03|   {246, 680}|
|     100.55|  [1, 2]|   2012-01-01|  k.c@gmail.com|     kiran|   1|       true|   chinta|2021-02-02 01:02:03|   {123, 456}|
|       NULL|[11, 22]|   2012-02-02|  p.j@gmail.com|      puri|NULL|      false|      jag|2021-04-05 01:02:03|   {135, 579}|
|       NULL|[11, 22]|   2012-02-02|s.s.r@gmail.com|        ss|   3|      false|      raj|2021-04-05 01:02:03|   {135, 579}|
+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+

In [15]:
# ascending - ascending
u_df.orderBy(col('first_name'),col('last_name').desc()).show()

+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+
|amount_paid| courses|customer_from|          email|first_name|  id|is_customer|last_name|    last_updated_ts|phone_numbers|
+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+
|       NULL|[11, 22]|   2012-02-02|           NULL|      NULL|   5|      false|     NULL|2021-04-05 01:02:03|   {135, 579}|
|     110.55| [11, 2]|   2012-01-01|  g.m@gmail.com|     goats|   2|      false|   manchi|2021-02-02 01:02:03|   {246, 680}|
|     100.55|  [1, 2]|   2012-01-01|  k.c@gmail.com|     kiran|   1|       true|   chinta|2021-02-02 01:02:03|   {123, 456}|
|       NULL|[11, 22]|   2012-02-02|  p.j@gmail.com|      puri|NULL|      false|      jag|2021-04-05 01:02:03|   {135, 579}|
|       NULL|[11, 22]|   2012-02-02|s.s.r@gmail.com|        ss|   3|      false|      raj|2021-04-05 01:02:03|   {135, 579}|
+-----------+--------+-------------+---------------+----------+----+-----------+---------+-------------------+-------------+

In [16]:
spark.stop()