In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("MyApp") \
    .master("local[*]") \
    .getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/06/14 18:30:59 WARN Utils: Your hostname, kirans-mac.local, resolves to a loopback address: 127.0.0.1; using 172.18.197.149 instead (on interface en0)
25/06/14 18:30:59 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/06/14 18:31:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/06/14 18:31:00 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

# create dataframe

In [28]:
df1 = spark.createDataFrame(data=(('a',1),('b',2),('b',2)),schema=('col1 string,col2 int'))
df2 = spark.createDataFrame(data=(('b',2),('c',3)),schema=('col1 string,col2 int'))
df3 = spark.createDataFrame(data=((2,'b'),(3,'c')),schema=('col2 int,col1 string'))

In [29]:
df1.show()

+----+----+
|col1|col2|
+----+----+
|   a|   1|
|   b|   2|
|   b|   2|
+----+----+

In [30]:
df2.show()

+----+----+
|col1|col2|
+----+----+
|   b|   2|
|   c|   3|
+----+----+

In [31]:
df3.show()

+----+----+
|col2|col1|
+----+----+
|   2|   b|
|   3|   c|
+----+----+

# union

In [32]:
df1.union(df2).show()

+----+----+
|col1|col2|
+----+----+
|   a|   1|
|   b|   2|
|   b|   2|
|   b|   2|
|   c|   3|
+----+----+

# unionall

In [33]:
df1.unionAll(df2).show()

+----+----+
|col1|col2|
+----+----+
|   a|   1|
|   b|   2|
|   b|   2|
|   b|   2|
|   c|   3|
+----+----+

---> union and unionAll is same, unionall is depricated after spark 2.x

# unionByName

In [ ]:
df1.union(df3).show() # --> it will throw error, since the column order is not correct

In [35]:
df1.unionByName(df3).show()

+----+----+
|col1|col2|
+----+----+
|   a|   1|
|   b|   2|
|   b|   2|
|   b|   2|
|   c|   3|
+----+----+

# Intersect

In [36]:
df1.intersect(df2).show()

+----+----+
|col1|col2|
+----+----+
|   b|   2|
+----+----+

# intersect all

In [37]:
df1.intersectAll(df2).show()

+----+----+
|col1|col2|
+----+----+
|   b|   2|
+----+----+

In [38]:
df1 = spark.createDataFrame(data=(('a',1),('a',1),('b',2)),schema=('col1 string,col2 int'))
df2 = spark.createDataFrame(data=(('a',1),('a',1),('c',2)),schema=('col1 string,col2 int'))
df1.intersect(df2).show()
df1.intersectAll(df2).show()

+----+----+
|col1|col2|
+----+----+
|   a|   1|
+----+----+

+----+----+
|col1|col2|
+----+----+
|   a|   1|
|   a|   1|
+----+----+

# exceptAll

In [43]:
df1.exceptAll(df2).show()

+----+----+
|col1|col2|
+----+----+
|   b|   2|
+----+----+

In [44]:
spark.stop()