In [1]:
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("MyApp") \
    .master("local[*]") \
    .config("spark.jars.packages", "org.apache.spark:spark-avro_2.12:3.4.0") \
    .getOrCreate()

# create dataFrame

In [4]:
data = ((1,'kiran ','chinta',150000.00,'usa','+1 232 343 7889','000 00 0000'),
    (2,'goats ',' machi',100000.00,'ind','+91 111 222 7889','123 45 6789')
       )
schema="""eid INT,first_name STRING,last_name STRING,salary FLOAT,country STRING,phone_number STRING,ssn STRING"""
df = spark.createDataFrame(data=data,schema=schema)
df.show()

+---+----------+---------+--------+-------+----------------+-----------+
|eid|first_name|last_name|  salary|country|    phone_number|        ssn|
+---+----------+---------+--------+-------+----------------+-----------+
|  1|    kiran |   chinta|150000.0|    usa| +1 232 343 7889|000 00 0000|
|  2|    goats |    machi|100000.0|    ind|+91 111 222 7889|123 45 6789|
+---+----------+---------+--------+-------+----------------+-----------+

# arthematic opeation on columns

In [7]:
from pyspark.sql.functions import lit,col
updated_df = df.withColumn('updated_sal',col('salary')+lit(20))
updated_df.show()

+---+----------+---------+--------+-------+----------------+-----------+-----------+
|eid|first_name|last_name|  salary|country|    phone_number|        ssn|updated_sal|
+---+----------+---------+--------+-------+----------------+-----------+-----------+
|  1|    kiran |   chinta|150000.0|    usa| +1 232 343 7889|000 00 0000|   150020.0|
|  2|    goats |    machi|100000.0|    ind|+91 111 222 7889|123 45 6789|   100020.0|
+---+----------+---------+--------+-------+----------------+-----------+-----------+

In [9]:
updated_df.withColumn('hike',col('updated_sal')-col('salary')).show()

+---+----------+---------+--------+-------+----------------+-----------+-----------+----+
|eid|first_name|last_name|  salary|country|    phone_number|        ssn|updated_sal|hike|
+---+----------+---------+--------+-------+----------------+-----------+-----------+----+
|  1|    kiran |   chinta|150000.0|    usa| +1 232 343 7889|000 00 0000|   150020.0|20.0|
|  2|    goats |    machi|100000.0|    ind|+91 111 222 7889|123 45 6789|   100020.0|20.0|
+---+----------+---------+--------+-------+----------------+-----------+-----------+----+

In [10]:
spark.stop()