In [3]:
import findspark
findspark.init()

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("MyApp") \
    .master("local[*]") \
    .config("spark.jars.packages", "org.apache.spark:spark-avro_2.12:3.4.0") \
    .getOrCreate()

# Extraction from CSV

In [3]:
path = '/Users/kiranchinta/JupyterProjects/sparkLearning/data/output.csv'

In [4]:
spark_df = spark.read.load(path,format='csv')
spark_df.show()

+----+-------+------+---+
| _c0|    _c1|   _c2|_c3|
+----+-------+------+---+
|NULL|user_id|  name|age|
|   0|      1| kiran| 10|
|   1|      2| kumar| 20|
|   2|      3|chinta| 30|
+----+-------+------+---+

In [5]:
spark_df = spark.read.load(path,format='csv',header=True)
spark_df.show()

+---+-------+------+---+
|_c0|user_id|  name|age|
+---+-------+------+---+
|  0|      1| kiran| 10|
|  1|      2| kumar| 20|
|  2|      3|chinta| 30|
+---+-------+------+---+

25/06/14 14:52:25 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , user_id, name, age
 Schema: _c0, user_id, name, age
Expected: _c0 but found:
CSV file: file:///Users/kiranchinta/JupyterProjects/sparkLearning/data/output.csv

# Extraction from TEXT

In [6]:
path = '/Users/kiranchinta/JupyterProjects/sparkLearning/data/output.txt'

In [7]:
spark_df = spark.read.load(path,format='text')
spark_df.show(truncate=False)

+-----------------------+
|value                  |
+-----------------------+
|   user_id    name  age|
|0        1   kiran   10|
|1        2   kumar   20|
|2        3  chinta   30|
+-----------------------+

In [8]:
spark_df = spark.read.load(path,format='text',header=True)
spark_df.show(truncate=False)

+-----------------------+
|value                  |
+-----------------------+
|   user_id    name  age|
|0        1   kiran   10|
|1        2   kumar   20|
|2        3  chinta   30|
+-----------------------+

# Extraction from PARQUET

In [9]:
path = '/Users/kiranchinta/JupyterProjects/sparkLearning/data/output.parquet'

In [10]:
spark_df = spark.read.load(path,format='parquet')
spark_df.show(truncate=False)

+-------+------+---+
|user_id|name  |age|
+-------+------+---+
|1      |kiran |10 |
|2      |kumar |20 |
|3      |chinta|30 |
+-------+------+---+

# Extraction from AVRO

In [11]:
path = '/Users/kiranchinta/JupyterProjects/sparkLearning/data/output.avro'

spark_df = spark.read.load(path,format='avro')
spark_df.show(truncate=False)

+-------+------+---+
|user_id|name  |age|
+-------+------+---+
|1      |kiran |10 |
|2      |kumar |20 |
|3      |chinta|30 |
+-------+------+---+

# Extraction from ORC JSON

In [15]:
path = '/Users/kiranchinta/JupyterProjects/sparkLearning/data/output.orc'

spark_df = spark.read.load(path,format='orc')
spark_df.show(truncate=False)

+-------+------+---+
|user_id|name  |age|
+-------+------+---+
|1      |kiran |10 |
|2      |kumar |20 |
|3      |chinta|30 |
+-------+------+---+

# Reading CSV data -> inferSchema

In [7]:
path = '/Users/kiranchinta/JupyterProjects/sparkLearning/data/taxi-fares.csv'
spark_df = spark.read.load(path,format='csv',header=True)
spark_df.show()

+--------------------+-----------+--------------------+-------------------+------------------+-------------------+------------------+---------------+
|                 key|fare_amount|     pickup_datetime|   pickup_longitude|   pickup_latitude|  dropoff_longitude|  dropoff_latitude|passenger_count|
+--------------------+-----------+--------------------+-------------------+------------------+-------------------+------------------+---------------+
|2014-06-15 17:11:...|          7|2014-06-15 17:11:...|          -73.99542|         40.759662|         -73.987607|         40.751247|              1|
|2011-03-14 22:43:...|        4.9|2011-03-14 22:43:...|         -73.993552|          40.73111|         -73.998497|           40.7372|              5|
|2011-02-14 15:14:...|        6.1|2011-02-14 15:14:...|          -73.97238|         40.749527|         -73.990638|         40.745328|              1|
|2009-10-29 11:29:...|        6.9|2009-10-29 11:29:...|         -73.973703|         40.763542|         -73.984253|         40.758603|              5|
|2011-07-02 10:38:...|       10.5|2011-07-02 10:38:...|         -73.921262|         40.743615|         -73.967383|         40.765162|              1|
|2011-12-09 20:03:...|       15.3|2011-12-09 20:03:...|           -73.9735|          40.79261|         -73.936035|         40.856548|              1|
|2011-05-03 14:34:...|       11.3|2011-05-03 14:34:...|         -73.870854|         40.773808|         -73.829909|         40.770563|              2|
|2012-01-22 04:06:...|        7.7|2012-01-22 04:06:...|            -73.992|         40.744255|         -74.002782|         40.730813|              4|
|2011-04-02 01:05:...|        7.7|2011-04-02 01:05:...|         -73.979564|         40.735405|         -73.955686|         40.768065|              1|
|2012-02-23 16:09:...|        8.9|2012-02-23 16:09:...|         -73.978577|         40.777148|          -73.95734|          40.76669|              1|
|2012-12-28 13:24:...|          9|2012-12-28 13:24:...|         -73.990323|         40.734437|         -73.989688|         40.725847|              1|
|2012-05-23 15:12:...|       11.3|2012-05-23 15:12:...|         -74.005885|         40.736402|         -73.999285|         40.760708|              1|
|2012-07-28 11:45:...|        5.3|2012-07-28 11:45:...|         -73.992698|          40.73018|         -73.987758|         40.721294|              1|
|2015-05-27 09:52:...|          9|2015-05-27 09:52:...|    -73.99169921875|40.738510131835938|   -73.984130859375|40.725399017333984|              1|
|2010-02-07 03:13:...|        4.1|2010-02-07 03:13:...|         -73.983273|         40.738664|         -73.984983|         40.745065|              4|
|2014-09-25 07:22:...|        4.5|2014-09-25 07:22:...|         -73.997962|         40.740763|         -74.007392|         40.741017|              1|
|2014-04-01 18:13:...|      31.33|2014-04-01 18:13:...|         -73.885798|         40.773127|         -73.958682|         40.777397|              4|
|2010-01-03 12:21:...|        3.7|2010-01-03 12:21:...|         -73.960109|         40.813611|         -73.966094|         40.805406|              1|
|2015-04-11 09:38:...|         19|2015-04-11 09:38:...|-74.000526428222656|40.720775604248047|-73.998481750488281|    40.72119140625|              2|
|2014-10-30 20:01:...|         14|2014-10-30 20:01:...|         -73.984272|          40.74247|         -73.953562|         40.779227|              1|
+--------------------+-----------+--------------------+-------------------+------------------+-------------------+------------------+---------------+
only showing top 20 rows

In [8]:
spark_df.printSchema()

root
 |-- key: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- pickup_longitude: string (nullable = true)
 |-- pickup_latitude: string (nullable = true)
 |-- dropoff_longitude: string (nullable = true)
 |-- dropoff_latitude: string (nullable = true)
 |-- passenger_count: string (nullable = true)

In [9]:
spark_df = spark.read.load(path,format='csv',header=True,inferSchema=True)
spark_df.show()

+-------------------+-----------+-------------------+------------------+-----------------+------------------+------------------+---------------+
|                key|fare_amount|    pickup_datetime|  pickup_longitude|  pickup_latitude| dropoff_longitude|  dropoff_latitude|passenger_count|
+-------------------+-----------+-------------------+------------------+-----------------+------------------+------------------+---------------+
|2014-06-15 17:11:00|        7.0|2014-06-15 12:11:00|         -73.99542|        40.759662|        -73.987607|         40.751247|              1|
|2011-03-14 22:43:00|        4.9|2011-03-14 17:43:00|        -73.993552|         40.73111|        -73.998497|           40.7372|              5|
|2011-02-14 15:14:00|        6.1|2011-02-14 09:14:00|         -73.97238|        40.749527|        -73.990638|         40.745328|              1|
|2009-10-29 11:29:00|        6.9|2009-10-29 06:29:00|        -73.973703|        40.763542|        -73.984253|         40.758603|              5|
|2011-07-02 10:38:00|       10.5|2011-07-02 05:38:00|        -73.921262|        40.743615|        -73.967383|         40.765162|              1|
|2011-12-09 20:03:00|       15.3|2011-12-09 14:03:00|          -73.9735|         40.79261|        -73.936035|         40.856548|              1|
|2011-05-03 14:34:51|       11.3|2011-05-03 09:34:51|        -73.870854|        40.773808|        -73.829909|         40.770563|              2|
|2012-01-22 04:06:10|        7.7|2012-01-21 22:06:10|           -73.992|        40.744255|        -74.002782|         40.730813|              4|
|2011-04-02 01:05:15|        7.7|2011-04-01 20:05:15|        -73.979564|        40.735405|        -73.955686|         40.768065|              1|
|2012-02-23 16:09:00|        8.9|2012-02-23 10:09:00|        -73.978577|        40.777148|         -73.95734|          40.76669|              1|
|2012-12-28 13:24:00|        9.0|2012-12-28 07:24:00|        -73.990323|        40.734437|        -73.989688|         40.725847|              1|
|2012-05-23 15:12:36|       11.3|2012-05-23 10:12:36|        -74.005885|        40.736402|        -73.999285|         40.760708|              1|
|2012-07-28 11:45:54|        5.3|2012-07-28 06:45:54|        -73.992698|         40.73018|        -73.987758|         40.721294|              1|
|2015-05-27 09:52:04|        9.0|2015-05-27 04:52:04|   -73.99169921875|40.73851013183594|  -73.984130859375|40.725399017333984|              1|
|2010-02-07 03:13:37|        4.1|2010-02-06 21:13:37|        -73.983273|        40.738664|        -73.984983|         40.745065|              4|
|2014-09-25 07:22:30|        4.5|2014-09-25 02:22:30|        -73.997962|        40.740763|        -74.007392|         40.741017|              1|
|2014-04-01 18:13:00|      31.33|2014-04-01 13:13:00|        -73.885798|        40.773127|        -73.958682|         40.777397|              4|
|2010-01-03 12:21:53|        3.7|2010-01-03 06:21:53|        -73.960109|        40.813611|        -73.966094|         40.805406|              1|
|2015-04-11 09:38:37|       19.0|2015-04-11 04:38:37|-74.00052642822266|40.72077560424805|-73.99848175048828|    40.72119140625|              2|
|2014-10-30 20:01:00|       14.0|2014-10-30 15:01:00|        -73.984272|         40.74247|        -73.953562|         40.779227|              1|
+-------------------+-----------+-------------------+------------------+-----------------+------------------+------------------+---------------+
only showing top 20 rows

In [10]:
spark_df.printSchema()

root
 |-- key: timestamp (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- pickup_longitude: double (nullable = true)
 |-- pickup_latitude: double (nullable = true)
 |-- dropoff_longitude: double (nullable = true)
 |-- dropoff_latitude: double (nullable = true)
 |-- passenger_count: integer (nullable = true)

# explicit schema

In [11]:
taxiSchema = "key TIMESTAMP, fare_amount FLOAT, pickup_datetime TIMESTAMP, pickup_longitude FLOAT, pickup_latitude FLOAT, dropoff_longitude FLOAT,dropoff_latitude FLOAT, passenger_count INT "

In [15]:
spark_df = spark.read.load(path,format='csv',header=True,schema=taxiSchema)
spark_df.show()

+-------------------+-----------+-------------------+----------------+---------------+-----------------+----------------+---------------+
|                key|fare_amount|    pickup_datetime|pickup_longitude|pickup_latitude|dropoff_longitude|dropoff_latitude|passenger_count|
+-------------------+-----------+-------------------+----------------+---------------+-----------------+----------------+---------------+
|2014-06-15 17:11:00|        7.0|2014-06-15 12:11:00|       -73.99542|      40.759663|        -73.98761|       40.751247|              1|
|2011-03-14 22:43:00|        4.9|2011-03-14 17:43:00|       -73.99355|       40.73111|         -73.9985|         40.7372|              5|
|2011-02-14 15:14:00|        6.1|2011-02-14 09:14:00|       -73.97238|      40.749527|        -73.99064|       40.745327|              1|
|2009-10-29 11:29:00|        6.9|2009-10-29 06:29:00|        -73.9737|      40.763542|        -73.98425|       40.758602|              5|
|2011-07-02 10:38:00|       10.5|2011-07-02 05:38:00|      -73.921265|      40.743614|       -73.967384|       40.765163|              1|
|2011-12-09 20:03:00|       15.3|2011-12-09 14:03:00|        -73.9735|       40.79261|       -73.936035|        40.85655|              1|
|2011-05-03 14:34:51|       11.3|2011-05-03 09:34:51|       -73.87086|      40.773808|        -73.82991|        40.77056|              2|
|2012-01-22 04:06:10|        7.7|2012-01-21 22:06:10|         -73.992|      40.744255|       -74.002785|       40.730812|              4|
|2011-04-02 01:05:15|        7.7|2011-04-01 20:05:15|       -73.97956|      40.735405|        -73.95569|       40.768066|              1|
|2012-02-23 16:09:00|        8.9|2012-02-23 10:09:00|       -73.97858|       40.77715|        -73.95734|        40.76669|              1|
|2012-12-28 13:24:00|        9.0|2012-12-28 07:24:00|      -73.990326|      40.734436|       -73.989685|       40.725845|              1|
|2012-05-23 15:12:36|       11.3|2012-05-23 10:12:36|       -74.00588|        40.7364|        -73.99928|       40.760708|              1|
|2012-07-28 11:45:54|        5.3|2012-07-28 06:45:54|        -73.9927|       40.73018|       -73.987755|       40.721294|              1|
|2015-05-27 09:52:04|        9.0|2015-05-27 04:52:04|        -73.9917|       40.73851|        -73.98413|         40.7254|              1|
|2010-02-07 03:13:37|        4.1|2010-02-06 21:13:37|       -73.98328|      40.738663|       -73.984985|       40.745064|              4|
|2014-09-25 07:22:30|        4.5|2014-09-25 02:22:30|       -73.99796|      40.740765|        -74.00739|       40.741016|              1|
|2014-04-01 18:13:00|      31.33|2014-04-01 13:13:00|      -73.885796|       40.77313|        -73.95868|       40.777397|              4|
|2010-01-03 12:21:53|        3.7|2010-01-03 06:21:53|      -73.960106|       40.81361|       -73.966095|       40.805405|              1|
|2015-04-11 09:38:37|       19.0|2015-04-11 04:38:37|       -74.00053|      40.720776|        -73.99848|        40.72119|              2|
|2014-10-30 20:01:00|       14.0|2014-10-30 15:01:00|       -73.98427|       40.74247|        -73.95356|        40.77923|              1|
+-------------------+-----------+-------------------+----------------+---------------+-----------------+----------------+---------------+
only showing top 20 rows

In [16]:
spark_df.printSchema()

root
 |-- key: timestamp (nullable = true)
 |-- fare_amount: float (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- pickup_longitude: float (nullable = true)
 |-- pickup_latitude: float (nullable = true)
 |-- dropoff_longitude: float (nullable = true)
 |-- dropoff_latitude: float (nullable = true)
 |-- passenger_count: integer (nullable = true)

In [19]:
# using spark datatypes
from pyspark.sql.types import *

taxiSchema = StructType((
    StructField('key',TimestampType()),
    StructField('fare_amount',FloatType()),
    StructField('pickup_datetime',TimestampType()),
    StructField('pickup_longitude',FloatType()),
    StructField('pickup_latitude',FloatType()),
    StructField('dropoff_longitude',FloatType()),
    StructField('dropoff_latitude',FloatType()),
    StructField('passenger_count',IntegerType())
))

In [20]:
spark_df = spark.read.load(path,format='csv',header=True,schema=taxiSchema)
spark_df.show()

+-------------------+-----------+-------------------+----------------+---------------+-----------------+----------------+---------------+
|                key|fare_amount|    pickup_datetime|pickup_longitude|pickup_latitude|dropoff_longitude|dropoff_latitude|passenger_count|
+-------------------+-----------+-------------------+----------------+---------------+-----------------+----------------+---------------+
|2014-06-15 17:11:00|        7.0|2014-06-15 12:11:00|       -73.99542|      40.759663|        -73.98761|       40.751247|              1|
|2011-03-14 22:43:00|        4.9|2011-03-14 17:43:00|       -73.99355|       40.73111|         -73.9985|         40.7372|              5|
|2011-02-14 15:14:00|        6.1|2011-02-14 09:14:00|       -73.97238|      40.749527|        -73.99064|       40.745327|              1|
|2009-10-29 11:29:00|        6.9|2009-10-29 06:29:00|        -73.9737|      40.763542|        -73.98425|       40.758602|              5|
|2011-07-02 10:38:00|       10.5|2011-07-02 05:38:00|      -73.921265|      40.743614|       -73.967384|       40.765163|              1|
|2011-12-09 20:03:00|       15.3|2011-12-09 14:03:00|        -73.9735|       40.79261|       -73.936035|        40.85655|              1|
|2011-05-03 14:34:51|       11.3|2011-05-03 09:34:51|       -73.87086|      40.773808|        -73.82991|        40.77056|              2|
|2012-01-22 04:06:10|        7.7|2012-01-21 22:06:10|         -73.992|      40.744255|       -74.002785|       40.730812|              4|
|2011-04-02 01:05:15|        7.7|2011-04-01 20:05:15|       -73.97956|      40.735405|        -73.95569|       40.768066|              1|
|2012-02-23 16:09:00|        8.9|2012-02-23 10:09:00|       -73.97858|       40.77715|        -73.95734|        40.76669|              1|
|2012-12-28 13:24:00|        9.0|2012-12-28 07:24:00|      -73.990326|      40.734436|       -73.989685|       40.725845|              1|
|2012-05-23 15:12:36|       11.3|2012-05-23 10:12:36|       -74.00588|        40.7364|        -73.99928|       40.760708|              1|
|2012-07-28 11:45:54|        5.3|2012-07-28 06:45:54|        -73.9927|       40.73018|       -73.987755|       40.721294|              1|
|2015-05-27 09:52:04|        9.0|2015-05-27 04:52:04|        -73.9917|       40.73851|        -73.98413|         40.7254|              1|
|2010-02-07 03:13:37|        4.1|2010-02-06 21:13:37|       -73.98328|      40.738663|       -73.984985|       40.745064|              4|
|2014-09-25 07:22:30|        4.5|2014-09-25 02:22:30|       -73.99796|      40.740765|        -74.00739|       40.741016|              1|
|2014-04-01 18:13:00|      31.33|2014-04-01 13:13:00|      -73.885796|       40.77313|        -73.95868|       40.777397|              4|
|2010-01-03 12:21:53|        3.7|2010-01-03 06:21:53|      -73.960106|       40.81361|       -73.966095|       40.805405|              1|
|2015-04-11 09:38:37|       19.0|2015-04-11 04:38:37|       -74.00053|      40.720776|        -73.99848|        40.72119|              2|
|2014-10-30 20:01:00|       14.0|2014-10-30 15:01:00|       -73.98427|       40.74247|        -73.95356|        40.77923|              1|
+-------------------+-----------+-------------------+----------------+---------------+-----------------+----------------+---------------+
only showing top 20 rows

In [21]:
spark_df.printSchema()

root
 |-- key: timestamp (nullable = true)
 |-- fare_amount: float (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- pickup_longitude: float (nullable = true)
 |-- pickup_latitude: float (nullable = true)
 |-- dropoff_longitude: float (nullable = true)
 |-- dropoff_latitude: float (nullable = true)
 |-- passenger_count: integer (nullable = true)

In [22]:
spark.stop()