In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("MyApp") \
    .master("local[*]") \
    .getOrCreate()

25/06/07 21:43:48 WARN Utils: Your hostname, kirans-mac.local resolves to a loopback address: 127.0.0.1; using 172.18.197.149 instead (on interface en0)
25/06/07 21:43:48 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/06/07 21:43:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# create RDD

In [8]:
ord = spark.sparkContext.textFile('/Users/kiranchinta/Downloads/RetailDB SalesData/Orders')
ordItems = spark.sparkContext.textFile('/Users/kiranchinta/Downloads/RetailDB SalesData/Order_items')

In [9]:
ord.take(5)

['1,2013-07-25 00:00:00.0,11599,CLOSED',
 '2,2013-07-25 00:00:00.0,256,PENDING_PAYMENT',
 '3,2013-07-25 00:00:00.0,12111,COMPLETE',
 '4,2013-07-25 00:00:00.0,8827,CLOSED',
 '5,2013-07-25 00:00:00.0,11318,COMPLETE']

In [10]:
ordItems.take(5)

['1,1,957,1,299.98,299.98',
 '2,2,1073,1,199.99,199.99',
 '3,2,502,5,250.0,50.0',
 '4,2,403,1,129.99,129.99',
 '5,4,897,2,49.98,24.99']

### join on id

In [13]:
ordMap=ord.map(lambda x : (x.split(',')[0],x.split(',')[2]))
ordItemsMap=ordItems.map(lambda x : (x.split(',')[1],x.split(',')[4]))
findSubtotalForCust = ordMap.join(ordItemsMap)

In [14]:
findSubtotalForCust.take(5)

[('4', ('8827', '49.98')),
 ('4', ('8827', '299.95')),
 ('4', ('8827', '150.0')),
 ('4', ('8827', '199.92')),
 ('5', ('11318', '299.98'))]

### cartesian

In [18]:
rdd = spark.sparkContext.parallelize((1,3,2))
rdd.cartesian(rdd).collect()

[(1, 1), (1, 3), (1, 2), (3, 1), (3, 3), (3, 2), (2, 1), (2, 3), (2, 2)]